fieldset {
    background-color: #eeeeee;
    border-color:#F00;
    width:60%;
    height:100%;
  }

  legend {
    background-color: #d5d5d5;
    color: black;
    padding: 5px 10px;
  }
  
  
  label {
    top:25px;
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float:left;
     top:25px;
}

  
  
  #position_button{
    top:80px;
    left: -170px;
    font-size: 20px;
    height: 40px;
    width: 125px;
}




 