
<div>
    <button type="button" class="btn btn-primary"(click) = "getTodosEc2()">Get Todos</button>
</div>
<br>
<div>
    <input type = "text"  [(ngModel)] = 'todosId'> 
    <button type="button"  class="btn btn-primary"(click)='getTodoEc2ById(todosId)'>Get Todos By ID</button>
</div>
<br>
<br>
<div class = 'table-responsive'>
    <table class ='table' *ngIf="data?.length>0">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>CREATED ON</th>
                <th>COMPLETED</th>
            </tr>
        </thead>
        <tbody>
             <tr *ngFor='let temp of data'>
                <td> {{ temp.id}}  </td>
                <td> {{ temp.title }} </td>
                <td> {{ temp.createdOn}}</td>
                <td> {{ temp.completed}}</td>
             </tr>
        </tbody>
    </table>
    <table class ='table' *ngIf="data && data.length == undefined">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>CREATED ON</th>
                    <th>COMPLETED</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td> {{ data.id}}  </td>
                    <td> {{ data.title }} </td>
                    <td> {{ data.createdOn}}</td>
                    <td> {{ data.completed}}</td>
                </tr>
           </tbody>
    </table>
</div>
<br>
<div *ngIf="statusCode">
    <div *ngIf="statusCode === 200" class="success">
        Successfully retrieved all available Todos
    </div>
    <div *ngIf="statusCode === 201" class="success">
        Successfully retrieved Todo by provided ID
    </div>
      <div *ngIf="statusCode === 500" class="error">
      Internal Server Error.
    </div>
    <div *ngIf="statusCode === 401" class="error">
        Unauthorized
    </div>
    <div *ngIf="statusCode === 403" class="error">
        Forbidden
    </div>
    <div *ngIf="statusCode === 404" class="error">
        Invalid ID - Unable to find Todo by provided ID
    </div>
</div>




    




