fieldset {
    background-color: #eeeeee;
    border-color:#F00;
    width:60%;
    height:100%;
  }
  
  legend {
    background-color: #d5d5d5;
    color: black;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }