<h1>Welcome </h1>
<!-- we can make here some tab -->
<carousel>
    <slide>
        <img src="https://images.unsplash.com/photo-1591520146761-866928837cb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            alt="first slide" style="display: block; width: 100%;" >
        <div class="carousel-caption d-none d-md-block">
            <h2>Get Tasks</h2>
            <p>View All ToDos or ToDos by ID</p>
        </div>
    </slide>
    <slide>
        <img src="https://images.unsplash.com/photo-1562952306-d06754dbad10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80"
            alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h2>Create Task</h2>
            <p>Create New ToDos</p>
        </div>
    </slide>
    <slide>
        <img src="https://images.unsplash.com/photo-1595265678210-7b6e8e357d1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Update Task</h3>
            <p>View all of your tasks and remove ones you no longer need.</p>
        </div>
    </slide>
    <slide>
        <img src="https://images.unsplash.com/photo-1519155031214-e8d583928bf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            alt="fourth slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Delete Task</h3>
            <p>View all of your tasks and remove ones you no longer need.</p>
        </div>
    </slide>
</carousel>