

<div *ngIf="statusCode">
    <div *ngIf="statusCode === 200" class="alert alert-success alert-dismissible fade show" role="alert">
        Successfully retrieved all available Todos
    </div>
    <div *ngIf="statusCode === 204" class="alert alert-success alert-dismissible fade show" role="alert">
        Successfully deleted Todo by provided ID
    </div>
    <div *ngIf="statusCode === 400" class="alert alert-danger alert-dismissible fade show">
        Failed to delete Todo - valid path variable was missing
    </div>
    <div *ngIf="statusCode === 401" class="alert alert-danger alert-dismissible fade show">
        Unauthorized
    </div>
    <div *ngIf="statusCode === 403" class="alert alert-danger alert-dismissible fade show">
        Forbidden
    </div>
    <div *ngIf="statusCode === 500" class="alert alert-danger alert-dismissible fade show">
        Internal Server Error.
    </div>
 
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
    <input  placeholder="Please Enter Todo Id" type="text" [(ngModel)]='todosId'>
    <button type="button" class="btn btn-primary btn-lg" (click)='deleteTodoEc2ById(todosId)'>Delete Todos By ID</button>
        </div>
<div class="col-sm">
    <button type="button" class="btn btn-primary btn-lg" (click)='getTodosEc2()'>Get Todos</button>
</div>
<div class="col-sm">
    <button type="button" class="btn btn-danger btn-lg" (click)="truncateAPI()">Clear all Todos</button>
</div>
</div>
</div>
<div class='table-responsive'>
    <table class='table' *ngIf="data?.length>0">
        <thead>
            <tr>
              <th>DELETE</th>
                <th>ID</th>
                <th>TITLE</th>
                <th>CREATED ON</th>
                <th>COMPLETED</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let temp of data'>
                <td><button (click)='deleteTodoEc2ById(this.temp.id)' type="button" class="btn btn-default btn-sm glyphicon glyphicon-trash"> </button></td>
                <td> {{ temp.id}} </td>
                <td> {{ temp.title }} </td>
                <td> {{ temp.createdOn}}</td>
                <td> {{ temp.completed}}</td>
            </tr>

        </tbody>
    </table>

</div>
