
<fieldset>
    <legend>Delete your Todos</legend>
<div *ngIf="statusCode">
    <div *ngIf="statusCode === 204" class="alert alert-success alert-dismissible fade show" role="alert">
        Successfully deleted Todo by provided ID
        <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="statusCode === 400" class="alert alert-danger alert-dismissible fade show">
        Failed to delete Todo - valid path variable was missing
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="statusCode === 401" class="alert alert-danger alert-dismissible fade show">
        Unauthorized
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="statusCode === 403" class="alert alert-danger alert-dismissible fade show">
        Forbidden
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="statusCode === 404" class="alert alert-danger alert-dismissible fade show">
        Invalid ID - Unable to find Todo by provided ID
        <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="statusCode === 500" class="alert alert-danger alert-dismissible fade show">
        Internal Server Error.
        <button type="button"  class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
     <input type = "text" placeholder="Enter Id number" [(ngModel)] = 'todosId'> 
    <button type="button" class="btn btn-primary"  (click)='getTodoEc2ById(todosId)'>Delete Todos By ID</button>
        </div>
        
<div class="col-sm">
    <button type="button" class="btn btn-primary btn-lg"  id= "middle" (click)='getTodosEc2()'>Get Todos</button>
</div>
<div class="col-sm">
    <button type="button" class="btn btn-warning btn-lg" (click)="truncateAPI()">Clear all Todos</button>
</div>
</div>
<div class='table-responsive' *ngIf="data?.length>0">
 <table class='table'>

        <thead>
            <tr>
              <th>DELETE</th>
                <th>ID</th>
                <th>TITLE</th>
                <th>CREATED ON</th>
                <th>COMPLETED</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let temp of data'>
                <td><button (click)='deleteTodoEc2ById(this.temp.id)' type="button" class="btn btn-default btn-sm glyphicon glyphicon-trash"> </button></td>
                <td> {{ temp.id}} </td>
                <td> {{ temp.title }} </td>
                <td> {{ temp.createdOn}}</td>
                <td> {{ temp.completed}}</td>
            </tr>

        </tbody>
    </table>

</div>
</div>
</fieldset>
