.glyphicon {
  font-size: 30px;
  color: #F00;
}

.btn {
  font-size: 20px;
 
}
fieldset {
  background-color: #eeeeee;
  border-color: #F00;
  width: 100%;
  height: 100%;
}

legend {
  background-color: #d5d5d5;
  color: black;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

.row{
    margin: 15px 30px;
    width: inherit;
}
#middle{
    margin-left: 100px;
}
  .table-responsive{
    overflow-y:scroll;
    height: 450px;
    width: 100%;
    display:block
  }