.required
{
    color : red;
}

  label {
    width:230px;
    clear:left;
   /* clear:right;
    /*text-align:right;*/
     padding-right:20px; 
} 

 #chk_box {
    position: relative;
}  

.btn {
    font-size: 20px;
   /* position:relative;
  /*  left:100;
    top:6px;
    
    /* height: 40px;
    width: 150px;  */
} 
h1{
    color: blue;
    padding:10px;
}