<!-- message for Success or Error-->
<ng-template [ngIf]="buttonclick">

    <div>
        <ng-template [ngIf]="status " [ngIfElse]="errorOccur">
         <div  class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success ! </strong> Task has been updated successfully
            <button type="button" (click)='closeAll()' class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
         </div>
        </ng-template>
        <ng-template #errorOccur>
         <div  class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error ! </strong> Task with this Id not found
            <button type="button" (click)='closeAll()' class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>      
         </div>
        </ng-template>
    </div>
</ng-template>
         
<!-- Form fr updating task -->

<div>   
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="header">                          
                    <h1>Update Todo task</h1>
                </div>
                <form [formGroup]="todosUpdatetask">
                <div>
                    <label> Enter Task Id <span class="required" > * </span> </label>
                    <input type = "text" class= "form-Control" placeholder="Enter Id Number" formControlName="id" > <br>
                    
                    <label> Enter New Task <span class="required" > * </span> </label>
                    <input type= "text" placeholder="Enter new Task"  formControlName="title" ><br>
                    <label> Completed </label> 
                    <input type="checkbox" id= "chk_box" formControlName="completed" ng-model="completed" 
                        ng-true-value="'true'" ng-false-value="'false'">
                    <br>
                    <button type="button"  class="btn btn-primary btn-lg" (click)='putTodosEc2(todosUpdatetask)'>Update Todos </button>
                </div>
                </form>
            </div>


<!-- Form for updating completed status-->
<div class="col-sm">
    <div class="header">                          
        <h1>Update Todo Status</h1>
    </div>
    <form [formGroup]="todosPatch">
        <div>
            <label> Enter Task Id to Change Status <span class="required" > * </span> </label>
            <input type = "text" placeholder="Enter Id " formControlName="id"> <br><br>

            <button class="btn btn-primary btn-lg"  (click)='patchTodosEc2(todosPatch)'>Update Todos status</button> 
        </div>
    </form>
</div>

<div class="col-sm">
    <div class="header">                          
        <h1></h1>
    </div>
    <button type="button" class="btn btn-primary btn-lg" (click)='getTodosEc2()'>Get Todos</button>
</div>
</div>
</div>
<div class='table-responsive'>
    <table class='table' *ngIf="data?.length>0">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>CREATED ON</th>
                <th>COMPLETED</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let temp of data'>
                <td> {{ temp.id}} </td>
                <td> {{ temp.title }} </td>
                <td> {{ temp.createdOn}}</td>
                <td> {{ temp.completed}}</td>
            </tr>

        </tbody>
    </table>

</div>



