
<!-- message for Success or Error-->
<ng-template [ngIf]="buttonclick">

    <div>
        <ng-template [ngIf]="status " [ngIfElse]="errorOccur">
    
            <div  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success ! </strong> Task has been updated successfully
    <button type="button" (click)='closeAll()' class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  

            </div>
        </ng-template>
        <ng-template #errorOccur>
            <div  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Error ! </strong> Task with this Id not found
    <button type="button" (click)='closeAll()' class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  
                
            </div>
        </ng-template>
    </div>
    </ng-template>
         

<div>   
    <form [formGroup]="todosUpdatetask">
        <div>
            <label> Enter Task Id </label><br>
            <input type = "text" class= "form-Control" placeholder="Enter Id Number" formControlName="id"> <br>
       </div>
       <div>
            <label> Enter New Task </label><br>
            <input type= "text" placeholder="Enter new Task"  formControlName="title">
        </div>
    <button type="button" class="btn btn-primary" (click)='putTodosEc2(todosUpdatetask)'>Update Todos </button>
    </form>
</div>
<br><br>

<!-- Form for updating completed status-->

<div>
    <form [formGroup]="todosPatch">
        <label> Enter Task Id to Change Status</label><br>
        <input type = "text" placeholder="Enter Id " formControlName="id"> <br>

        <button class="btn btn-primary" (click)='patchTodosEc2(todosPatch)'>Update Todos status</button> 
    </form>
          
</div>
<br><br>

